<ion-modal-view class="product edit create">
    <form ng-submit="submit()" name="userLogin" id="userLogin" novalidate>
        <ion-header-bar class="bar-positive fix-buttons">
            <a class="button" ng-click="closeModal()">Cancel</a>
            <h1 class="title">Sign In</h1>
        </ion-header-bar>
        <ion-content has-bouncing="true">
            <div class="row" ng-class="{'no-padding-top': !data.editItem}">
                <div class="col">
                  <label class="item item-input large">
                    <i class="icon ion-person">&nbsp;</i>
                    <input type="text" name="username" ng-model="items.username" ng-Required="true" placeholder="Enter your username." lose-focus-on-return>
                  </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <label class="item item-input large">
                    <i class="icon ion-power">&nbsp;</i>
                    <input type="password" ng-model="items.password" ng-Required="true" placeholder="Enter your password." lose-focus-on-return>
                  </label>
                </div>
            </div>
            <div class="row description-row">
              <div class="col">
                <input type="submit" id="submit" value="Submit" class="button icon icon-right">
              </div>
            </div>  
        </ion-content>
    </form>
</ion-modal-view>